<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentManagementApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminCreateUserActivity"
            android:exported="false" />
        <activity
            android:name=".AdminUserListActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ReceiveStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".EditStudentActivity"
            android:exported="false" />
        <activity
            android:name=".CreateClassActivity"
            android:exported="false" />
        <activity
            android:name=".CreateClassListActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryTermActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryGradeActivity"
            android:exported="false" />
        <activity
            android:name=".CategorySubjectActivity"
            android:exported="false" />
        <activity
            android:name=".SearchStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".GradeEntryActivity"
            android:exported="false" />
        <activity
            android:name=".ExamTypeManagementActivity"
            android:exported="false" />
        <activity
            android:name=".EditExamTypeActivity"
            android:exported="false" />
        <activity
            android:name=".SubjectReportActivity"
            android:exported="false" />
        <activity
            android:name=".TermReportActivity"
            android:exported="false" />
        <activity
            android:name=".SystemParametersActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>